# cache
__pycache__/
.ruff_cache/

# vscode
.vscode

# venv
.venv/
venv/

# smudge files
config.json
smudge/*.session*
locales/*/*/*.mo
smudge/database/*.db*

# rye
requirements.lock
requirements-dev.lock
.python-version

# logs
unknown_errors.txt
