# Session Files
smudge/*.session*
*.session*

# Config Files
smudge/config.py
cspell.json

# Python Cache
__pycache__/
__pycache__/
smudge/__pycache__/
smudge/plugins/__pycache__/

# Database Files
smudge/database/*database.*

# Useless Stuffs
unknown_errors.txt*
stuff/
downloads/*
smudge/downloads/*
.vscode/

