# Bot Dependencies
git+https://github.com/AmanoTeam/pyrogram.git#egg=Pyrogram # AmanoTeam Pyrogram's
tgcrypto

# Database
aiosqlite==0.17.0

# Plugins Dependencies
apscheduler
beautifulsoup4
gallery-dl>=1.21.2
gpytranslate==1.4.0
httpx[http2]>=0.18.1,<1.0.0
Pillow>=8.4.0
pyyaml==6.0
regex
urllib3
uvloop
yt-dlp==2022.8.19